
/* the breakpoints styles */
.h-0 {
    height: 0%;
}

.h-5 {
    height: 5%;
}

.h-10 {
    height: 10%;
}

.h-15 {
    height: 15%;
}

.h-20 {
    height: 20%;
}

.h-25 {
    height: 25%;
}

.h-30 {
    height: 30%;
}

.h-35 {
    height: 35%;
}

.h-40 {
    height: 40%;
}

.h-45 {
    height: 45%;
}

.h-50 {
    height: 50%;
}

.h-55 {
    height: 55%;
}

.h-60 {
    height: 60%;
}

.h-65 {
    height: 65%;
}

.h-70 {
    height: 70%;
}

.h-75 {
    height: 75%;
}

.h-80 {
    height: 80%;
}

.h-85 {
    height: 85%;
}

.h-90 {
    height: 90%;
}

.h-95 {
    height: 95%;
}

.h-100 {
    height: 100%;
}

/* Width Classes: */
.w-0 {
    width: 0%;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.w-100 {
    width: 100%;
}

/* and now media queries for different devices */
@media (min-width: 768px) {
    .h-md-0 {
        height: 0% !important;
    }

    .h-md-5 {
        height: 5% !important;
    }

    .h-md-10 {
        height: 10% !important;
    }

    .h-md-15 {
        height: 15% !important;
    }

    .h-md-20 {
        height: 20% !important;
    }

    .h-md-25 {
        height: 25% !important;
    }

    .h-md-30 {
        height: 30% !important;
    }

    .h-md-35 {
        height: 35% !important;
    }

    .h-md-40 {
        height: 40% !important;
    }

    .h-md-45 {
        height: 45% !important;
    }

    .h-md-50 {
        height: 50% !important;
    }

    .h-md-55 {
        height: 55% !important;
    }

    .h-md-60 {
        height: 60% !important;
    }

    .h-md-65 {
        height: 65% !important;
    }

    .h-md-70 {
        height: 70% !important;
    }

    .h-md-75 {
        height: 75% !important;
    }

    .h-md-80 {
        height: 80% !important;
    }

    .h-md-85 {
        height: 85% !important;
    }

    .h-md-90 {
        height: 90% !important;
    }

    .h-md-95 {
        height: 95% !important;
    }

    .h-md-100 {
        height: 100% !important;
    }

}

@media (min-width: 768px) {
    .w-md-0 {
        width: 0% !important;
    }

    .w-md-5 {
        width: 5% !important;
    }

    .w-md-10 {
        width: 10% !important;
    }

    .w-md-15 {
        width: 15% !important;
    }

    .w-md-20 {
        width: 20% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }

    .w-md-30 {
        width: 30% !important;
    }

    .w-md-35 {
        width: 35% !important;
    }

    .w-md-40 {
        width: 40% !important;
    }

    .w-md-45 {
        width: 45% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-55 {
        width: 55% !important;
    }

    .w-md-60 {
        width: 60% !important;
    }

    .w-md-65 {
        width: 65% !important;
    }

    .w-md-70 {
        width: 70% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-80 {
        width: 80% !important;
    }

    .w-md-85 {
        width: 85% !important;
    }

    .w-md-90 {
        width: 90% !important;
    }

    .w-md-95 {
        width: 95% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }
}
