/* resetting some properties of css and bootstrap */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&family=Nunito:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a:link {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background: rgb(88, 177, 159);
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(88, 177, 159);
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl,
.container-fluid {
    --bs-gutter-x: 0;
}

.navbar {
    height: 90px;
}

.special-font {
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    opacity: 1;
}

.special-font-size {
    font-size: 18px;
}

.special-button {
    color: black;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

}

.special-button:hover {
    background-color: rgb(88, 177, 159);
    color: white;
}

.hero-text {
    font-size: 50px;
    font-weight: 900;
}

@media(max-width:998px) {
    .hero-text {
        font-size: 34px;
    }
}

.small-hero-text {
    font-size: 21px;
}

.special-color {
    color: rgb(88, 177, 159);
}

.img_container {
    position: relative;
    width: 200px;
    aspect-ratio: 1 / 1.2;
    display: flex;
    align-items: flex-end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    transition: transform 250ms ease-in;
}

.img_container:hover {
    transform: scale(1.1);
}

.img_container .circle {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;

}

.img_container .person_img {
    position: absolute;
    width: 100%;
    transform: scale(1.2);
    transition: transform 400ms ease-in;
}

.img_container:hover .person_img {
    transform: scale(1.3) translateY(-15px);
}

.special-align {
    text-align: center;
}

@media(max-width:768px) {
    .special-align {
        text-align: justify;
    }
}

.special-icon {
    width: 64px;
    height: 64px;
    background-color: rgb(88, 177, 159);
    color: white;
    font-size: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.special-position {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 80%);
    box-shadow: 2px 2px 15px #00000054;
}

@media(max-width:768px) {
    .special-position {
        position: static;
        transform: none;
    }
}

.myWork {
    margin-top: 370px
}

@media(max-width:768px) {
    .myWork {
        margin-top: 30px;
    }
}

/* carousel styles here */

/* all the specific styles for the showcase cards starts here */
.showcase_card_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:768px) {
    .showcase_card_wrapper {
        padding: 0px 6px;
    }
}

.showcase_card {
    height: 180px;
    background-color: white;
    box-shadow: 3px 5px 6px #00000029;
    border-radius: 27px;
    border: 1px solid rgba(88, 177, 159, 0.432);
}

.showcase_card a {
    color: black;
}

.showcase_card_header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    display: flex;
}

.showcase_card_header img {
    object-fit: cover;
    padding-right: 5px;
}

.serial-number {
    color: white;
    height: 30px;
    width: 30px;
    background-color: rgb(88, 177, 159);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.project-name {
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 19px;
}

.showcase_card_body {
    width: 100%;
    height: 100px;
}

.showcase_card_body .special-font {
    color: black;
    font-size: 17px;
}

.owl-stage-outer {
    padding: 0px !important;
}

.customPrevBtn,
.customNextBtn {
    cursor: pointer;
    z-index: 99
}

.customNextBtn {
    right: -25px;
    top: 170px;
}

.customPrevBtn {
    left: -25px;
    top: 170px;
}

.bi-arrow-left-circle-fill,
.bi-arrow-right-circle-fill {
    font-size: 24px;
    color: rgb(88, 177, 159);
}

/* all the specific styles for the showcase cards ends here */
/* carousel styles here */
.icon-wrapper {
    width: 45px;
    height: 45px;
}

.special-social-icon {
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introductive-video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
    border-radius: inherit;
} 